.calendar-wrapper {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  width: 14.28%;
  padding: 10px 0;
  text-align: center;
}

.calendar th {
  font-weight: 600;
}

.calendar td.inactive {
  color: #ccc;
}
