.ad__container {
    height: 45vh;
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ad__container > .ad__box {
    width: 55%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 3rem;
}

.ad__container > .ad__box > .select__match__container {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9fa1a9;
    position: relative;
    left: 5rem
}

.ad__container > .ad__box > .select__match__container > .select__match__btn {
    width: 95%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    padding-left: 0.8rem;
}

.ad__container > .ad__box > .select__match__container > .select__match__btn:hover {
    background-color: gray;
    border-radius: 0.25rem;
    cursor: pointer;
}

.ad__container > .ad__box > .select__match__container > .select__match__btn  > .svg-inline--fa {
    margin-right: 0.5rem;
}

.ad__container > .ad__box > .gosu__intro__container {
    width: 100%;
    height: 100%;
    margin-left: 3rem;

}

.ad__container > .ad__box > .gosu__intro__container > .swiper {
    height: 100%;
}

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-button-prev {
    --swiper-theme-color: #FFFFFF;
    --swiper-navigation-size: 1.5rem;
    background-color: #E6E6E8;
    left: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
}

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-button-next {
    --swiper-theme-color: #FFFFFF;
    --swiper-navigation-size: 1.5rem;
    background-color: #E6E6E8;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
}

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-wrapper > .swiper-slide {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-wrapper > .swiper-slide.swiper-slide-active > .profile__container {
    margin-left: 7rem;
}

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-wrapper > .swiper-slide.swiper-slide-next ~.swiper-slide > .profile__container {
    margin-right: 7rem;
} 

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-wrapper > .swiper-slide > .profile__container {
    background-color:#FFFFFF;
    width: 70%;
    height: 80%;
    border: 1px solid;
    border-radius: 0.45rem;
}

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-wrapper > .swiper-slide > .profile__container > .profile__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-wrapper > .swiper-slide > .profile__container > .profile__link > .job__logo {
    width: 100%;
    height: 3rem;
    object-fit: contain;
}

.ad__container > .ad__box > .gosu__intro__container > .swiper > .swiper-wrapper > .swiper-slide > .profile__container > .profile__link > .job__descrip {
    color: #121212;
    width: 80%;
}

