.footerContainer {
    width: 100%;
    height: 40vh;
    background-color: #32373F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContainer > .footCategory {
    width: 65%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 6rem;
}

.footerContainer > .footCategory > .categoryBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footerContainer > .tradeName {
    width: 63%;
    height: 50%;
}

.footerContainer > .tradeName > .nameContainer {
    width: 98%;
    height: 100%;
    border-top: 1px solid #7F7F7F;
}

.footerContainer > .tradeName > .nameContainer > .tradeLogoBox {
    width: 50%;
    position: relative;
    left: 4.85rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerContainer > .tradeName > .nameContainer > .tradeLogoBox > a { 
    white-space: nowrap;
}

.footerContainer > .tradeName > .nameContainer > .tradeLogoBox > a:nth-child(1) {
    font-size: 1.2rem;
}

.footerContainer > .tradeName > .nameContainer > .tradeLogoBox > a:not(:nth-child(1)) {
    margin-left: 0.7rem;
}

.footerContainer > .tradeName > .nameContainer > .certificateBox {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 4.85rem;;
}

.footerContainer > .tradeName > .nameContainer > .certificateBox > span {
    color: #7F7F7F;
}


.footerContainer > .tradeName > .nameContainer > .tradeLogoBox > a {
    color: #7F7F7F;
}

.footerContainer > .footCategory > .categoryBox > .titleBox {
    margin-top: 2.5rem;
}

.footerContainer > .footCategory > .categoryBox > div > .cateTitle {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.footerContainer > .footCategory > .categoryBox > div:not(:nth-child(1)) {
    margin-top: 0.8rem;
}

.footerContainer > .footCategory > .categoryBox > div:not(:nth-child(1)) > a {
    color: #BDBDB1;
}

/* #BDBDB1 */