.expert-container {
  margin: 0 40px 0 40px;
}

.title {
  margin: 20px 0 0 20px;
  color: var(--black);
	text-align: left;
	font-size: 32px;
	font-weight: 600;
}


.expert-subtitle {
	font-size: 16px;
	color: #666;
	text-align: left;

	padding-left: 40px;
}



.expert-list-page {
  display: flex;
  flex-direction: row; /* 행 방향으로 정렬 */
  align-items: flex-start; /* 위쪽 정렬 */
  padding: 20px;
  background-color: #fff; /* 배경색을 흰색으로 설정 */
}

.expert-filter-container {
  width: 25%; /* 전체 너비의 1/4 */
  position: sticky; /* 스크롤을 따라다니게 고정 */
  top: 40px; /* 위쪽 간격을 40px로 설정 */
  margin-right: 20px; /* 카드와의 간격을 주기 위해 오른쪽 여백 추가 */
}

.expert-cards-container {
  width: 75%; /* 전체 너비의 3/4 */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.expert-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.expert-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.expert-info {
  display: flex;
  flex-direction: column;
}

.expert-card h2 {
  margin: 0;
  font-size: 1.25rem;
  text-align: left; /* 왼쪽 정렬 */
}

.expert-card p {
  margin: 0.5rem 0;
  color: #666;
  text-align: left; /* 왼쪽 정렬 */
}

.expert-card .rating {
  color: #f1c40f;
  font-size: 1rem;
  display: flex;
  gap: 5px;
}

.expert-card .description {
  font-size: 0.9rem;
  color: #888;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px; /* 조금 더 위쪽으로 이동 */
  right: 30px; /* 조금 더 왼쪽으로 이동 */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s, visibility 0.3s; /* visibility 속성 추가 */
  opacity: 0;
  visibility: hidden; /* 기본적으로 숨김 */
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible; /* show 클래스가 추가되면 표시 */
}

.scroll-to-top:hover {
  background-color: #555;
}
